<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Curtain</title>
    <link rel="stylesheet" href="static/general.css" />
    <script src="static/general.js "></script>
  </head>

  <body>
    <div w3-include-html="/items/navbar.html"></div>
    <div class="center base">
      <div class="top-down card center-rows">
        <a href="https://github.com/sopho-s/curtain"
          ><h1>This is run on Curtain</h1></a
        >
        <div class="top-down center-rows">
          <p>
            Curtain allows you to create ctf challanges and deploy them easily,
            allowing users to easily deploy their own isolated environments
            through two other tools called <a href="#">Conductor</a> and <a href="#">Musician</a>.
          </p>
          <p>
            Conductor does this by acting as a vpn and allowing users computers to act
            as if they are on the same network while also only giving them
            access to their own environment.
          </p>
          <p>
            This does not limit them to only one machine though, developers can
            create complex networks of interconnected virtual machines or real
            machines for the user to access
          </p>
          <p>
            Each user is assigned a unique session ID that is used to identify
            which environment they can access, which is used to determine the
            users environment
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
