<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Curtain</title>
    <link rel="stylesheet" href="static/general.css" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie/src/js.cookie.js"></script>
    <script src="static/general.js "></script>
  </head>
  <body>
    <div class="center base">
      <div class="top-down card center-rows">
        <h1>curtain</h1>
        <form
          class="center-rows top-down space-between"
          style="gap: 10px"
          id="register"
        >
          <input
            class="form-text"
            type="text"
            placeholder="username"
            name="username"
          />
          <input
            class="form-text"
            type="text"
            placeholder="email"
            name="email"
          />
          <input
            class="form-text"
            type="text"
            placeholder="password"
            name="password"
          />
          <input class="login-button" type="submit" value="Register" />
        </form>
        <p>or</p>
        <a class="center" href="/"> Login </a>
      </div>
    </div>
    <script>
      const form = document.getElementById("register");
      let error = null;
      function add_error_message(message) {
        if (error == null) {
          error = document.createElement("span");
          form.appendChild(error);
        }
        error.innerHTML = message;
      }

      form.addEventListener("submit", async function (event) {
        event.preventDefault();
        const data = new FormData(form);
        const form_object = form_data_to_object(data);
        let jsondata = await submit_data(JSON.stringify(form_object), "/register");
        if (jsondata["status"] != "ok") {
          add_error_message(jsondata["status"]);
        } else {
          sessionStorage.setItem(
            "super_secret_dont_touch",
            jsondata["jwt"],
          );
          Cookies.set("super_secret_dont_touch", jsondata["jwt"], {
            expires: 7,
            path: "",
          });
          window.location.replace("/home");
        }
      });
    </script>
  </body>
</html>
