<div class="top-down card center-rows takefull">
    <h1 id="challenge_name"></h1>
    <p id="description"></p>
    <div id="files" class="top-down"></div>
    <form
      class="center-rows top-down space-between"
      style="gap: 10px"
      id="submitflag"
    >
      <input
        class="form-text"
        type="text"
        placeholder="flag{}"
        name="flag"
      />
      <input class="login-button" type="submit" value="Check flag" />
    </form>
    <a href="/home"><button>back</button></a>
</div>
